h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Exo 2', sans-serif !important;
    color: #434343 !important;
}

.linha-vertical {
    height: 1fr;
    border-left: 2px solid;
}

.metodos {
    color: white !important;
    background-color: #434343 !important;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 10px;
}

.metodos:hover {
    background-color: #7a7a7a !important;
    transition: all 1s;
}

.carousel-caption p {
    color: white !important;
    background: rgba(0, 0, 0, 0.702);
}

.card-text {
    font-size: 20px;
    font-weight: bold;
}

.carousel-item img {
    margin: 0 !important;
}

.arvore {
    width: fit-content;
    height: 500px;
}

.knn-circle {
    height: 50px;
    width: 50px;
}